<div class="small-8 columns ">
  <%= form_for [@user, @message] do |m| %>

    <% if @message.errors.any? %>
      <ul>
        <% @message.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <div>
      <%= m.label :body, "Message" %>
      <%= m.text_area :body, :cols => "8", :rows => "8" %>
    </div>

    <div>
      <%= m.submit "Send message", class: "button [tiny small large]"  %>
    </div>

  <% end %>

    <div>
      <div><%= link_to "Back", :back %></div>
    </div>

</div>

