<div class="small-9 columns">
    <%= form_for [@user, @message] do |m| %>

    <% if @message.errors.any? %>
      <ul>
        <% @message.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <div><%= m.label :body, 'Message' %><br>
    <%= m.text_area :body, :cols => "30", :rows => "10" %></div>

    <div><%= m.submit "Send message", class: "button [tiny small large]"  %></div>
  <% end %>
</div>
