<div class="row">
  <div class="small-8 columns">
    <% @all_messages.each do |m| %>
        <% if m.sender == current_user %>
          <div class="vcard small-12 columns sent_message">
          <%= m.body %>
          </div>
        <% else %>
          <div class="vcard small-12 columns recived_massage">
          <% if m.sender.profile_photo.present?%>
            <%= image_tag m.sender.profile_photo_url(:thumb), class: "profile_photo_thumb" %>
          <% else %>
            <strong>
              <%= "#{m.sender.full_name} said:" %>
            </strong>
          <% end %>
            <br><br>
            <%= m.body %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render 'new' %>
</div>
