<div class="row">
  <div class="small-8 columns">
    <% @all_messages.each do |m| %>
        <% if m.sender == current_user %>
          <div class="vcard small-12 columns sent_message">
            <strong><%= 'You said:'%></strong>
            <br><br>
            <%= m.body %>
          </div>
        <% else %>
          <div class="vcard small-12 columns recived_massage">
            <strong><%= "#{m.sender.full_name} said:" %></strong>
            <br><br>
            <%= m.body %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <%= render 'new' %>
</div>
