<% @all_messages.each do |m| %>
  <div class="row">
    <div class="large-10 columns">
      <% if m.sender == current_user %>
        <div class="row">
          <div class="vcard small-8 small-offset-2 columns sent_message">
            <%= m.body %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="small-1 columns">
            <% if m.sender.profile_photo.present?%>
              <%= image_tag m.sender.profile_photo_url(:thumb), class: "profile_photo_thumb" %>
            <% else %>
              <%= image_tag "/assets/defaultUserIcon.png", class: "profile_photo_thumb" %>
            <% end %>
          </div>
          <div class="vcard small-8 end columns recived_massage">
            <%= m.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
<%= render 'new' %>
</div>
