<div class="row">
  <div class="small-5 columns">
    <h3><%=@event.title%></h3>
    <ul class="no-bullet">
      <li>
        <strong>
          Event location:
        </strong>
        <%="#{@event.address} #{@event.city}, #{@event.state}, #{@event.zip}"%>
      </li>

      <li>
        <strong>
          Event start time:
        </strong>
        <%=@event.start_time.strftime("%B %d at %I:%M %p") %>
      </li>

      <li>
        <strong>
          Event duration<br>
        </strong>
        <%=@event.duration%>
      </li>

      <li>
        <strong>
          Expected number of guests:
        </strong>
        <%=@event.guest_count %>
      </li>

      <li>
        <strong>
          Budget per person:
        </strong>
        $<%=@event.budget %>
      </li>

      <li>
        <strong>
          This events total bid price:
        </strong>
        $<%=@event.budget * @event.guest_count%>
      </li>

      <li>
        <strong>
          Event details:
        </strong>
        <%=@event.description %>
      </li>
    </ul>

    <%= form_for [@event, @bid] do |f| %>
      <% if @bid.errors.any? %>
        <ul>
          <% @bid.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        </ul>
      <% end %>
    <% end %>
    </div>
        <div class="row">
          <div class="small-4 columns">
            <div>
              <%= f.label :message %><br>
              <%= f.text_area :message, autofocus: true, :cols => "20", :rows => "10" %>
            </div>

            <div>
              <%= f.label :amount, 'Bid amount' %><br>
              <%= f.text_field :amount, autofocus: true, placeholder: '$' %>
            </div>

            <div>
              <%= f.submit "Submit", class: "button expand" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <%= link_to "Back", event_path(@event) %>
</div>
