<div class="small-12 columns">
  <div class="outer-background-block">
  <%unless @user.events_bid_on.current_events.empty? %>
    <h4>My Bids</h4>
      <% @user.events_bid_on.current_events.each do |b| %>

        <!-- <li> -->
          <ul class="no-bullet small-12 columns inner-background-block">
            <li>
              Event: <%=link_to b.title, event_path(b)%>
            </li>

            <li>
              Details: <%=b.description%>
            </li>

            <li>
              Start time: <%=b.start_time.strftime("%B %d at %I:%M %p")%>
            </li>

            <li>
              Event duration: <%=b.duration%>
            </li>

            <li>
              Number of guests expected: <%=b.guest_count%>
            </li>

            <li>
              Budget per guest: <%=b.budget%>
            </li>

            <li>
              Location: <%="#{b.address} #{b.city} #{b.state}"%>
            </li>

            <br>

            <% b.bids.each do |i| %>
              <% if i.applicant == current_user %>
                <li>
                  Bid Details<br>
                  My Message: <%=i.message %>
                </li>

                <li>
                  My Bid Amount: $<%=i.amount%>
                </li>
              <% end %>
            <%end%>
          </ul>
        <!-- </li> -->
      <%end%>
  <%end%>
  </div>
</div>
