<%unless @user.events_hosted.current_events.empty? %>
  <div class="small-12 columns vcard outer-background-block">

    <% if @user == current_user %>
      <h4>My Events</h4>
    <% else %>
      <h4><%= "#{@user.full_name}'s Events" %></h4>
    <% end %>

    <% @user.events_hosted.current_events.each do |e| %>
      <ul class="small-12 columns vcard inner-background-block">
        <li>
          <%=link_to e.title, event_path(e) %>
        </li>

        <li>
          Details: <%=e.description%>
        </li>

        <li>
          Start time: <%=e.start_time.strftime("%B %d at %I:%M %p")%>
        </li>

        <li>
          Event duration: <%=e.duration%>
        </li>

        <li>
          Number of guests expected: <%=e.guest_count%>
        </li>

        <li>
          Budget per guest <%=e.budget%>
        </li>

        <li>
          Location: <%="#{e.address} #{e.city} #{e.state}"%>
        </li>

        <%if e.bids.exists? && @user == current_user %>
          <br>
          <strong>You'r event has bids!</strong>
          <%e.bids.map do |i|%>
            <ul>
              <li>
                <%= image_tag i.applicant.photo(:thumb), class: "profile_photo_thumb" %>
              </li>

              <li>
                <%=link_to i.applicant.full_name, user_path(i.applicant)%>
              </li>

              <li>
                Message: <%= i.message %>
              </li>

              <li>
                Bid amount: $<%= i.amount %>
              </li>

              <li>
                <%= link_to "Message #{i.applicant.full_name}", message_path(i.applicant.id) %>
              </li>
            </ul>
          <%end%>
        <%end%>
      </ul>
    <%end%>
  </div>
<%end%>
