<%if @user.profile_photo && !@user.profile_photo.empty? %>
  <li>
    <%=@user.profile_photo %>
  </li>
<%end%>

<div class="row">
  <ul class="no-bullet">
    <li>
      <h2><%=@user.full_name%></h2>
    </li>

    <% if @user == current_user %>
      <li>
        Email: <%=@user.email%>
      </li>

      <li>
        Address: <%= @user.address_helper %>
      </li>

    <% else %>
      <li>
        Location: <%= @user.location %>
      </li>
    <% end %>

    <% if @user.about %>
      <li>
        About: <%= @user.about %>
      </li>
    <% end %>

    <% unless @user == current_user%>
      <li>
          <%= link_to "Message #{@user.full_name}", user_message_path(@user) %>
      </li>
    <%end%>
    <% if @user == current_user %>
      <li>
        <%= link_to "Edit account", edit_user_registration_path %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <%if @user.events_hosted.any? %>
    <div class="small-12 columns vcard">

      <% if @user == current_user %>
        <h4>My Events</h4>
      <% else %>
        <h4><%= "#{@user.full_name}'s Events" %></h4>
      <% end %>

      <% @user.events_hosted.each do |e| %>
        <% if e.start_time >= Date.today %>
          <ul class="small-12 columns vcard">
            <li>
              <%=link_to e.title, event_path(e) %>
            </li>

            <li>
              Details: <%=e.description%>
            </li>

            <li>
              Start time: <%=e.start_time.strftime("%B %d at %I:%M %p")%>
            </li>

            <li>
              Event duration: <%=e.duration%>
            </li>

            <li>
              Number of guests expected: <%=e.guest_count%>
            </li>

            <li>
              Budget per guest <%=e.budget%>
            </li>

            <li>
              Location: <%="#{e.address} #{e.city} #{e.state}"%>
            </li>

            <%if e.bids.exists? && @user == current_user %>
              <br>
              <strong>You'r event has bids!</strong>
              <%e.bids.map do |i|%>
                <ul>
                  <li>
                    <li>
                      From: <%=link_to i.applicant.full_name, user_path(i.applicant)%>
                    </li>
                    <li>
                      Message: <%= i.message %>
                    </li>
                    <li>
                      Bid amount: $<%= i.amount %>
                    </li>
                    <li>
                      <%= link_to "Message #{i.applicant.full_name}", message_path(i.applicant.id) %>
                    </li>
                  </li>
                </ul>
              <%end%>
            <%end%>
          </ul>
        <%end%>
      <%end%>
    </div>
  <%end%>
</div>

<div class="row">
  <% if @user.events_bid_on.any? %>
    <div class="small-12 columns vcard">

      <% if @user == current_user %>
        <h4>My Bids</h4>
      <% else %>
        <h4><%= "#{@user.full_name}'s Bids" %></h4>
      <% end %>

      <% @user.events_bid_on.each do |b| %>

        <li>
          <ul class="vcard small-12 columns">
            <li>
              Event: <%=link_to b.title, event_path(b)%>
            </li>

            <li>
              Details: <%=b.description%>
            </li>

            <li>
              Start time: <%=b.start_time.strftime("%B %d at %I:%M %p")%>
            </li>

            <li>
              Event duration: <%=b.duration%>
            </li>

            <li>
              Number of guests expected: <%=b.guest_count%>
            </li>

            <li>
              Budget per guest: <%=b.budget%>
            </li>

            <li>
              Location: <%="#{b.address} #{b.city} #{b.state}"%>
            </li>

            <br>

            <% b.bids.each do |i| %>
              <% if i.applicant == current_user %>
                <li>
                  Bid Details<br>
                  My Message: <%=i.message %>
                </li>

                <li>
                  My Bid Amount: $<%=i.amount%>
                </li>
              <% end %>
            <%end%>
          </ul>
        </li>
      <%end%>
    </div>
  <%end%>
</div>
