#Photo<%=@user.profile_photo%>
<h4>
  <%="#{@user.first_name} #{@user.last_name}"%>
  <ul>
    <li>
      Email: <%=@user.email%>
    </li>

    <li>
      Address: <%="#{@user.address} #{@user.city} #{@user.state}" %>
    </li>
    <% if @user.about%>
      <li>
        About: <%= @user.about %>
      </li>
    <%end%>

  </ul>
</h3>


<%if @user.events_hosted.any? %>
  Events Created:
  <%@user.events_hosted.each do |e|%>
    <ol>
      <li>
        <ul>
          <li>
            <%=e.title%>
          </li>

          <li>
            <%=e.description%>
          </li>

          <li>
            <%=e.start_time.strftime("%B %d at %I:%M %p")%>
          </li>

          <%if e.end_time %>
            <li>
              <%=e.end_time.strftime("%B %d at %I:%M %p") %>
            </li>
          <%end%>

          <li>
            <%=e.guest_count%>
          </li>

          <li>
            <%=e.budget%>
          </li>

          <li>
            <%="#{e.address} #{e.city} #{e.state}"%>
          </li>

          <%if e.bids.exists? %>
            <br>
             Bid on by:
            <%e.bids.map do |i|%>
              <li>
                <%=link_to "#{i.applicant.first_name} #{i.applicant.last_name}", user_path(i.applicant)%>
              </li>
            <%end%>
          <%end%>

        </ul>
      </li>
    </ol>
  <%end%>
<%end%>


<%if @user.events_bid_on.any? %>
  Events Bid On:
  <%@user.events_bid_on.each do |b|%>
    <ol>
      <li>
        <ul>
          <li>
            <%=b.title%>
          </li>

          <li>
            <%=b.description%>
          </li>

          <li>
            <%=b.start_time.strftime("%B %d at %I:%M %p")%>
          </li>

          <%if b.end_time %>
            <li>
              <%=b.end_time.strftime("%B %d at %I:%M %p") %>
            </li>
          <%end%>

          <li>
            <%=b.guest_count%>
          </li>

          <li>
            <%=b.budget%>
          </li>

          <li>
            <%="#{b.address} #{b.city} #{b.state}"%>
          </li>

          <br>
          My Bid:

          <% b.bids.each do |i| %>

            <li>
            Message<br>
            <%=i.message %>
            </li>

            <li>
            Bid<br>
              $<%=i.amount%>
            </li>
          <%end%>
        </ul>
      </li>
    </ol>
  <%end%>
<%end%>

