
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <% @event.each do |e| %>
    <% if e.start_time >= Date.today %>
      <li>
        <%= link_to "#{e.title}", event_path(e) %>
        <ul>
          <li>
            Location: <%="#{e.city}, #{ e.state}"%>
          </li>

          <li>
            Start time: <%= e.start_time.strftime("%B %d at %I:%M %p") %>
          </li>

          <% if e.end_time %>
            <li>
              Event end time: <%= e.end_time.strftime("%B %d at %I:%M %p") %>
            </li>
          <% end %>

          <li>
          Event details: <%= e.description %>
          </li>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
