<ul>
<% @event.each do |e| %>
  <li>
    Event title: <%= e.title %>
    <ul>
      <li>
        Location: <%="#{e.city}, #{ e.state}"%>
      </li>

      <li>
       Start time: <%= e.start_time %>
      </li>

      <% if e.end_time %>
        <li>
          Event end time: <%= e.end_time %>
        </li>
      <% end %>

      <li>
        Event details: <%= e.description %>
      </li><br><br>
    </ul>
  </li>
  <% end %>
</ul>
