<div class="row">
  <div class="small-12 columns">
    <h3>Events</h3>
  </div>
  <ul class="pagination-centered">
    <table>
      <thead>
        <tr>
          <th width="400">Description</th>
          <th width="300">Location</th>
          <th width="300">Date/Time</th>
        </tr>
      </thead>
      <tbody>
        <% @event.each do |e| %>
          <tr>
            <td><%= link_to "#{e.title}", event_path(e) %></td>
            <td><%= "#{e.city}, #{ e.state}"%></td>
            <td><%= e.start_time.strftime("%a %B %d, %l:%M %P") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= paginate @event %></div>
  </ul>
  <div>
    <div><%= link_to "Back", :back %></div>
  </div>
</div>


