<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="small-5 columns">
      <div>
        <%= f.text_field :title, autofocus: true, placeholder: 'Event title' %>
      </div>

      <div>
        <%= f.text_field :address, autofocus: true, placeholder: "Address" %>
      </div>

      <div>
        <%= f.text_field :city, autofocus: true, placeholder: "City" %>
      </div>

      <div>
        <%= f.text_field :state, autofocus: true, placeholder: "State" %>
      </div>

      <div>
        <%= f.text_field :zip, autofocus: true, placeholder: "Zip" %>
      </div>

      <div>
        <%= f.text_field :pickadate_date, placeholder: 'Start date', class: "datepicker"%>
      </div>

      <div>
        <%= f.text_field :pickadate_time, placeholder: 'Start time', class: "timepicker" %>
      </div>

      <div>
        <%= f.select(:duration, options_for_select(['1 to 2 hours', '2 to 3 hours', '3 to 4 hours', '4 to 5 hours', '5 to 6 hours', '6 + hours']), prompt: 'Approximate duration' ) %>
      </div>

    </div>

    <div class="small-5 columns">
      <div>
        <%= f.text_field :guest_count, autofocus: true, placeholder: 'Expected number of guests' %>
      </div>

      <div>
        <%= f.text_field :budget, autofocus: true, placeholder: 'Budget price per person' %>
      </div>

      <div>
        <%= f.text_area :description, placeholder: 'Event details', :cols => "20", :rows => "10" %>
      </div>

      <div>
        <%= f.submit "Submit", class: "button expand" %>
      <div>
        <div><%= link_to "Back", :back %></div>
      </div>
      </div>
    </div>
  </div>
<% end %>
