
<%= form_for @event do |f| %>

    <%if @event.errors.any? %>
      <ul>
        <% @event.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="small-5 columns">
        <div>
        <%= f.text_field :title, autofocus: true, placeholder: 'Event title' %>
        </div>

        <div>
        <%= f.text_field :address, autofocus: true, placeholder: "Address" %>
        </div>

        <div>
        <%= f.text_field :city, autofocus: true, placeholder: "City" %>
        </div>

        <div>
        <%= f.text_field :state, autofocus: true, placeholder: "State" %>
        </div>

        <div>
        <%= f.text_field :zip, autofocus: true, placeholder: "Zip" %>
        </div>

        <div>
        <%= f.text_field :start_time, autofocus: true, placeholder: 'Event start time'%>
        </div>

        <div>
        <%= f.text_field :end_time, autofocus: true, placeholder: 'Event end time' %>
        </div>
      </div>

      <div class="small-5 columns">
        <div>
        <%= f.text_field :guest_count, autofocus: true, placeholder: 'Expected number of guests' %>
        </div>

        <div>
        <%= f.text_field :budget, autofocus: true, placeholder: 'Budget price per person' %>
        </div>

        <div>
        <%= f.text_area :description, placeholder: 'Event details', :cols => "20", :rows => "10" %>
        </div>
      </div>
    </div>

  <br>
  <div class="row">
    <div class="small-6 small-centered columns">
    <%= f.submit "Submit", class: "button expand" %>
    </div>
  </div>
<% end %>

