<div class="row">
  <h3><%=@event.title %></h3>
  <ul class="vcard small-8 columns">
    <li>
      <strong>Event location</strong><br> <%= @event.full_address %>
    </li>

    <li>
      <strong>
        Event start time<br>
      </strong>
      <%=@event.start_time.strftime("%B %d at %I:%M %p") %>
    </li>

    <li>
      <strong>
        Event duration<br>
      </strong>
      <%=@event.duration%>
    </li>

    <li>
      <strong>
        Expected number of guests<br>
      </strong>
      <%=@event.guest_count %>
    </li>

    <li>
      <strong>
        Budget per person<br>
      </strong>
      $<%=@event.budget %>
    </li>

     <li>
       <strong>
        This events total bid price<br>
      </strong>
      $<%= @event.bid_total %>
    </li>

    <li>
      <strong>
        Event details<br>
      </strong>
      <%=@event.description %>
    </li>
    <br>
    <% unless @event.applicants.include?(current_user) && @event.applicants != current_user %>
      <li>
        <strong>
          <%= link_to "Make an offer on this event", new_event_bid_path(@event) %>
          <% #binding.pry %>
        </strong>
      </li>
    <% end %>
  </ul>

</div>
<div class="row"><%= link_to "Back", events_path %></div>
