<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "UberChef" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li>
            <h3><%= link_to "UberChef", root_path %></h3>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#">
            <span>Menu</span>
            </a>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Menu</a>
              <ul class="dropdown">
                <li>
                  <%= render 'devise/menu/login_items' %>
                </li>
                <li>
                  <%= render 'devise/menu/registration_items' %>
                </li>

                <%if user_signed_in?%>
                  <li>
                    <%= link_to "Profile", user_path(current_user) %>
                  </li>

                  <li>
                    <%= link_to "Message", user_messages_path(current_user) %>
                  </li>

                  <li>
                    <%= link_to "Post Event", new_event_path %>
                  </li>
                  <li>
                    <%= link_to "Browse Events", events_path %>
                  </li>
                <%end%>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row content">
      <div class="small-10 columns ">
        <% if notice %>
          <p><%= notice %></p>
        <% end %>
        <% if alert %>
          <p><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
