<!DOCTYPE html>
<html>
<head>
  <title>Uberchef</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="br-pattern-bg"></div>
  <nav>
     <%= render 'devise/menu/login_items' %>
     <%= render 'devise/menu/registration_items' %>
  </nav>
  <%if user_signed_in?%>
     <%= link_to "User profile page", user_path(current_user) %>
  <%end%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
