<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <li>
        <%= link_to "UberChef", events_path %>
      </li>
      <%= render 'devise/menu/login_items' %>
      <%= render 'devise/menu/registration_items' %>

      <%if user_signed_in?%>
        <li>
          <%= link_to "Profile", user_path(current_user) %>
        </li>
      <%end%>

      <%if user_signed_in?%>
        <li>
          <%= link_to "Messages", user_messages_path(current_user) %>
        </li>
      <%end%>

      <%if user_signed_in?%>
        <li>
          <%= link_to "Post your event", new_event_path %>
        </li>
        <li>
          <%= link_to "Users", users_path %>
        </li>
      <%end%>
    </nav>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
